@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stratos";
  src: url("/fonts/Stratos-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Stratos";
  src: url("/fonts/Stratos-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Stratos";
  src: url("/fonts/Stratos-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Stratos";
  font-weight: 600;
}

/* checkbox */
.checkbox-custom {
  @apply appearance-none w-5 h-5 rounded-none bg-gray-200;
}

.checkbox-custom:checked {
  @apply bg-teal-500;
}

.checkbox-custom:checked::after {
  content: "✔";
  @apply text-white text-center inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* scroll bar */
#style-4::-webkit-scrollbar-track {
  /* appearance: none; */
}

#style-4::-webkit-scrollbar {
  width: 0.4em;
  background-color: #f5f5f5;
  /* background-color: transparent; */
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #d1d7d7;
  /* border: 2px solid #d1d7d7; */
  border-radius: 100px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
